{
  "env": {
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "max-len": [2, {
      "code": 140,
      "tabWidth": 4,
      "ignoreUrls": true
    }],
    "strict": "off",
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "always"
    }],
    "class-methods-use-this": "off",
    "object-curly-newline": ["error", {
      "multiline": false,
      "consistent": true
    }],
    "one-var-declaration-per-line": "off",
    "one-var": "warn",
    "global-require": "off",
    "no-param-reassign": ["error", {
      "props": false
    }],
    "no-multi-assign": 0,
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0,
    "no-underscore-dangle": 0,
    "no-unreachable": 0,
    "no-else-return": 0,
    "no-return-await": 0,
    "no-console": "warn",
    "arrow-parens": 0,
    "camelcase": 0,
    "default-case": 0,
    "import/no-cycle": 0
  },
  "globals": {
    "use": true
  }
}
