.main-footer {
  font-size: 14px;
  color: #fff;
  background-color: #1e1e1e;

  .footer-nav {

    .footer-nav-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      .footer-nav-item {
        + .footer-nav-item {
          margin-left: 24px;
        }

        .footer-nav-link {
          color: #fff;

          &:hover {
            color: #2bd195;
          }
        }
      }
    }
  }
}
